.forgot-page{
    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),
    url("https://images.unsplash.com/photo-1556742049-0cfed4f6a45d");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.forgot-card{
    width:100%;
    max-width:500px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.forgot-card h2{
    color:#003B95;
    margin-bottom:15px;
    text-align:center;
}

.forgot-card p{
    text-align:center;
    margin-bottom:25px;
    line-height:1.7;
}

.forgot-card label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.forgot-card input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
}

.forgot-card button{
    width:100%;
    margin-top:20px;

    background:#003B95;
    color:white;

    border:none;

    padding:15px;

    border-radius:10px;

    cursor:pointer;
    font-weight:600;
}

.forgot-card button:hover{
    background:
    linear-gradient(
        90deg,
        #FF8A00,
        #FF006E
    );
}

.back-login{
    margin-top:20px;
}

.back-login a{
    color:#FF006E;
    text-decoration:none;
    font-weight:600;
}

@media(max-width:576px){

.forgot-card{
padding:30px 20px;
}

}